.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* General styling for the entire app */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: #111111;
    margin: 0;
    padding: 0;
}

/* Universal button styling */
.button {
    background-color: #111111;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #575757;
}

/* Styling for headers in containers */
h3 {
    color: #111111;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input, form button {
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

form button {
    background-color: #0056b3;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

form button:hover {
    background-color: #004494;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #111111;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Input for searching */
input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
}
