.home-page {
    height: 93.5vh;
    background-image: url("https://conteudo.imguol.com.br/c/entretenimento/99/2023/05/30/corredor-de-hospital-1685456204760_v2_900x506.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-welcome {
    background-color: rgb(250, 250, 250, 0.8);
    border-radius: 30px;
    box-shadow: white 0px 0px 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vh;
    height: 40vh;
    gap: 2vh;
}

.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}

/* Buttons */

.box-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    font-size: 3vh;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 24px;
}

.box-button:hover {
    background-color: #4CCD60;
}