.form-consultation-container{
    padding-bottom: 30px;
    border-bottom: solid 1px #111111;
    margin-bottom: 20px;
}

.form-container{
    display: 'flex';
    background-color: #f5f2f2;
    border-radius: 5px;
}

.form-row {
    display: flex;
}

.form-row input {
    margin-left: 10px;
    margin-right: 10px;
}

.add-consultation-btn {
    background-color: #5AA7FF; 
    border: 1px solid #5AA7FF;
    color: #fff;
    border-radius: 30px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: large;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.add-consultation-btn:hover {
    background-color: #014da5; 
    border: 1px solid #014da5;
    color: #fff;
}