.form-doctor-container {
    padding: 20px;
    background-color: #e5fff6;
    border-radius: 5px;
    margin-bottom: 20px;
}

.form-d-container {
    background-color: #e5fff6;
}

.form-d-container input, .form-d-container button {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
}

.form-d-container input {
    width: 98.5%;
}

.add-doctor-btn {
    background-color: #49C493;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 50%;
}

.add-doctor-btn:hover {
    background-color: #008a53;
}