.form-hospital-container {
    padding: 20px;
    background-color: #f5f2f2;
    border-radius: 5px;
    margin-bottom: 20px;
}

.form-container input, .form-container button {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
}

.add-hospital-btn {
    background-color: #5AA7FF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-hospital-btn:hover {
    background-color: #014da5;
}